{plugins, [rebar3_hex]}.
{erl_opts, [
    fail_on_warning,
    debug_info,
    warn_export_all,
    {parse_transform, lager_transform},
    {lager_truncation_size, 16384}
]}.

{deps, [
    lager,
    mysql,
    poolboy,
    cowboy,
    jsone
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [timeweb]}
]}.

{relx, [{release, {timeweb, "0.1.0"}, [timeweb, sasl
    ]},

    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false}, {include_erts, true}]}]}]}.
