{plugins, [rebar3_hex]}.
{erl_opts, [
    fail_on_warning,
    debug_info,
    warn_export_all,
    {parse_transform, lager_transform},
    {lager_truncation_size, 16384}
]}.

{deps, [
    lager,
    mysql,
    poolboy,
    cowboy,
    jsone
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [timeweb]}
]}.

{relx, [{release, {timeweb, "0.1.0"}, [timeweb, sasl]},
    {sys_config, "./config/sys.config"},
%    {sys_config_src, "config/sys.config.src"},
    {vm_args, "./config/vm.args"},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true}]
}.

{escript_incl_apps,
    [timeweb]}.
{escript_main_app, timeweb}.
{escript_name, timeweb_ddl_runner}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

{post_hooks, [
    {release, "escript ./_build/default/bin/timeweb_ddl_runner"}
]}.

{profiles, [{prod, [{relx, [{dev_mode, false}, {include_erts, true}]}]}]}.
