[
  {lager, [
    {handlers, [
      {lager_console_backend, [{level, info}]},
      {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
      {lager_file_backend, [{file, "log/request.log"}, {level, debug}]},
      {lager_file_backend, [{file, "log/console.log"}, {level, info}]}
    ]},
    {colored, true},
    {error_logger_hwm, 20}
  ]},
  {timeweb, [
    {mysql_pools, [
      {db_pool, [
        {size, 5},
        {max_overflow, 10}
      ], [
        {hostname, "localhost"},
        {database, "timeweb"},
        {username, "root"},
        {password, "password"}
      ]}
    ]},
    {cowboy, [
      {port, 8040}
    ]}
  ]}
].